generation-manifest version=1 {
    output "clapgen.d"
    output "clapgen.manifest.kdl"
    output "clapgen.sources.kdl"
    output "clapgen_descriptors.hpp"
    output "clapgen_entry.cpp"
    output "clapgen_extensions.hpp"
    output "clapgen_ids.hpp"
    output "clapgen_instance_backend.cpp"
    output "clapgen_instance_backend.hpp"
    output "clapgen_metadata.cpp"
    output "clapgen_metadata.hpp"
    output "clapgen_processor.hpp"
    output "clapgen_resources.hpp"
    dependency "plugin.kdl"
}
