clapgen schema="1.0.0"
plugin id="com.example.entry" name="Entry" vendor="Example" version="1.0.0" {
    feature "audio-effect"
}
processor class="EntryProcessor"
parameters {}
audio-ports {}
note-ports {}
state {}
gui {}
presets {}
factories {}
extensions {}
